@import 'setup';
@import 'utils';
@import 'typography';
@import 'components/header';
@import 'components/form';
@import 'components/nav';
@import 'components/content';

html {
    font-size: 62.5%;
    font-family: $lato;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

main {
    position: relative;
}

a {
    text-decoration: none;
}