.wrapper {
    width: 100%;
    margin: 0 auto;
}

.form {
    width: 75%;
    margin: 0 auto;
    padding: 30px 0;

    @media(min-width: 1080px) {
        width: 810px;
    }

    input {
        width: 70%;
        padding: 0 10px;
        border: lightgrey 3px solid;
        border-radius: 5px 0 0 5px;
        border-right: none;
        color: $reddit;
    }

    button {
        width: 30%;
        border: lightgrey 3px solid;
        border-radius: 0 5px 5px 0;
        background: #222;
        color: white;
    }

    input,
    button {
        height: 40px;
        font-weight: 700;
        font-size: 1.5rem;
        &:focus,
        &:hover {
            box-shadow: 0px 0px 5px $giphy;
        }
        @media (min-width: 1000px){
            font-size: 2rem;
        }
    }
}