.header {
    background: $black;
    width: 100%;
    text-align: center;
    padding: 15px 0;

    h1 {
        text-transform: uppercase;
        font-family: $shri;
        font-size: 4rem;
        margin: 0;
        color: #F8F8F8;

        & span:first-child {
            color: $reddit;
        }

        & span:nth-child(2) {
            color: $giphy;
        }

        & span:last-child {
            color: $pixa;
        }

        @media (min-width: 1000px) {
            font-size: 6rem;
        }
    }
    h2 {
        color: $white;
    }
}